.card {
    @include borderRadius($cardRadius);
    background-color: $white;
    overflow: hidden;

    &-img {
        width: 100%;
        overflow: hidden;
        
        img,
        svg {
            width: 100%;
            object-fit: cover;
        }
    }

    &-text {
        padding: 0.5em;
    }

    &-link {
        padding: 0.5em;
        @extend .micro;
    }
}