.slick-slider {
  // background-color: gray;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: auto 2em;
  transition: all 3s ease;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  .slick-slide {
    // padding: 3em 0;
    min-width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    overflow: hidden;

    // @media screen and (min-width: 900px) {
    //     min-width: 33.33%;
    // }

    &-content {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      grid-template-rows: 1fr auto 1fr;
      // grid-row-gap: 1em;
      justify-content: center;
      align-items: center;
      width: 90%;
      max-width: 500px;
      height: 400px;
      padding: 1em;
      border-radius: 5px;
      // box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      position: relative;
      transition: all 0.5s ease;

      &:hover {
        box-shadow: none;
      }
    }

    .client-image {
      height: calc(40px + 6vw);
      width: calc(40px + 6vw);
      margin: auto;
      max-width: 120px;
      max-height: 120px;
      border-radius: 100%;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: contain;
        margin: auto;
      }
    }

    p.client-name {
      text-align: right;
      margin-top: 1em;
      // position: absolute;
      // bottom: 0.05em;
      // right: 0.5em;
      color: rgb(7, 91, 146);
    }
  }
}
